body {
    padding: 5px;
}

#armies {

}

.army {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.army-title{
    font-weight: bold;
    font-size: 17px;
}

.options {
    display: inline-flex;
    padding-top: 5px;
}

.options button {
    font-size: 10px;
    margin-right: 5px;
}

#addNew {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

#newArmy {
    display: block;
}
